<%- include('partials/header') %>

<div class="ui main text container segment">
    <div class="ui huge header"> <%= blog.title %> </div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui rounded image" src="<%= blog.image %>" alt="Blog Image">
            <div class="content">
                <p><%= blog.created.toDateString() %></p>
            </div>
            <div class="description">
                <p><%= blog.body %></p>
            </div>
            <div id="btn">
                <a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Update</a>
                <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                    <button class="ui red basic button">Delete</button>
                </form>
            </div>
        </div>
        <!-- <a href="/blogs/<%= blog._id %>/edit" class="ui orange basic button">Update</a> -->
    </div>
</div>
<%- include('partials/footer') %>